*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

#cuerpo{
	background-color: #0B0C10;
}

main{
	padding-bottom: 2rem;
}

/* Cabecera */

header{
	margin: 1.6rem 0;
}

.foto {
	padding: 1rem 2rem 1rem;
}

.foto img{
	display: block;
	margin: 0 auto;

	border-radius: 50%;
	height: calc(6em + 8vw);
	width: calc(6em + 8vw);
	border: 2px solid #66FCF1;
	box-shadow: 0.2em 0.2em 0.2em rgba(0, 0, 0, .5);
}

#subhead{
	text-align: center;
}

.nombre{
	margin: 1.6em;

	color: #66FCF1;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size: 1.6em;
}

@media only screen and (max-width: 599px){
	#subhead{
		font-size: 1.6em;
	}
}

@media only screen and (max-width: 484px){
	#subhead{
		font-size: 1.4em;
	}
}

@media only screen and (max-width: 428px){
	#subhead{
		font-size: 1.2em;
	}
}

@media only screen and (max-width: 372px){
	#subhead{
		font-size: 1.1em;
	}
}

/* @media only screen and (max-width: 599px){
	.nombre{
		font-size: 1.2em;
		letter-spacing: 2px;
	}
}

@media only screen and (max-width: 457px){
	.nombre{
		font-size: 1.1em;
		letter-spacing: 2px;
	}
} */

/* Contenido */

.contenedor{
	margin-bottom: 20px;
}

.about, .projects, .jobs, .educacion, .skills{
	padding: 2.6rem;
}

.contenido{
	margin: 0 auto;
	max-width: 825px;
	padding: 1rem 1rem 2rem;
	width: 100%;
}

.contenido p{
	margin-bottom: 1.6rem;
}

/* .rrss{
	text-align: center;
}

.github_icon{
	width: 90px;
}

.linkedin_icon{
	width: 90px;
}

.tgram_icon{
	width: 90px;
}

@media only screen and (max-width: 599px){
	.rrss{
		text-align: center;
	}

	.github_icon, .linkedin_icon, .tgram_icon{
		width: 75px;
	}
}

@media only screen and (max-width: 425px){
	.github_icon, .linkedin_icon, .tgram_icon{
		width: 55px;
	}
} */

/* Redes */

#navLateral a{
	position: fixed;
	left: -115px;
	transition: .25s;
	padding: 15px;
	width: 130px;
	text-decoration: none;
	font-size: 15px;
	color: #0B0C10;
	border-radius: 0 6px 6px 0;
}

#navLateral img{
	width: 20px;
	height: 20px;
	margin-left: 9px;
}

#navLateral a:hover{
	left: 0;
	opacity: .9;
}

#github_icon{
	top: 180px;
	background-color: #66FCF1; 
}

#linkedin_icon{
	top: 240px;
	background-color: #66FCF1; 
}

#tgram_icon{
	top: 300px;
	background-color: #66FCF1; 
}

/* Acerca de mi */

.about{
	background-color: #1F2833; 
	border-radius: 10px;
	border: 1px solid #66FCF1;
	box-shadow: 0 0 30px rgb(0 0 0 / 20%);

	line-height: 1.5;
}

.about p{
	color: #C5C6C7;
}

.about h2{
	text-align: center;
	font-weight: bold;
	color: #C5C6C7;
	border-bottom: 1px solid rgba(255, 255, 255, .4);
}

/* Portfolio */

.projects{
	background-color: #1F2833; 
	border-radius: 10px;
	border: 1px solid #66FCF1;
	box-shadow: 0 0 30px rgb(0 0 0 / 20%);

	line-height: 1.5;
}

.projects h2{
	text-align: center;
	font-weight: bold;
	color: #C5C6C7;
	border-bottom: 1px solid rgba(255, 255, 255, .4);
}

.practice{
	text-align: center;
}

.practice h3{
	color: #66FCF1;
}

@media only screen and (max-width: 599px){
	.practice_img{
		max-width: 210px;
		width: 100%;
	}
}

/* Exp Laboral */

.jobs{
	background-color: #1F2833; 
	border-radius: 10px;
	border: 1px solid #66FCF1;
	box-shadow: 0 0 30px rgb(0 0 0 / 20%);

	line-height: 1.5;
}

.jobs h2{
	text-align: center;
	font-weight: bold;
	color: #C5C6C7;
	border-bottom: 1px solid rgba(255, 255, 255, .4);
}

.jobs h4{
	font-weight: bold;
	color: #C5C6C7;
}

.jobs h6{
	color: #C5C6C7;
}

.jobs ul{
	padding-left: 1.6em;
}

.jobs li{
	color: #C5C6C7;
}

/* Educacion */

.educacion{
	background-color: #1F2833; 
	border-radius: 10px;
	border: 1px solid #66FCF1;
	box-shadow: 0 0 30px rgb(0 0 0 / 20%);

	line-height: 1.5;
}

.educacion h2{
	text-align: center;
	font-weight: bold;
	color: #C5C6C7;
	border-bottom: 1px solid rgba(255, 255, 255, .4);
}

.educacion h4{
	font-weight: bold;
	color: #C5C6C7;
}

.educacion ul{
	padding-left: 1.6em;
}

.educacion li{
	color: #C5C6C7;
}

/* Habilidades */

.skills{
	background-color: #1F2833;
	border-radius: 10px;
	border: 1px solid #66FCF1;
	box-shadow: 0 0 30px rgb(0 0 0 / 20%);
	line-height: 1.5;
}

.skills h2{
	text-align: center;
	font-weight: bold;
	color: #C5C6C7;
	border-bottom: 1px solid rgba(255, 255, 255, .4);
}

.skills ul{
	padding-left: 1.6em;
}

.skills li{
	color: #C5C6C7;
}

/* Pie de pagina */

.piePagina{
	align-items: center;
	border: 1px solid #66FCF1;
	border-radius: 10px;
	background-color: #1F2833;
	
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 0.6rem;
}

.cv_btn{
	align-items: center;
	color: #66FCF1;
	display: flex;
	flex-direction: row;
	text-decoration: none;
}

.copy{
	font-weight: bold;
	color: #C5C6C7;
}

@media only screen and (max-width: 460px){
	.piePagina{
		flex-direction: column;
	}

	.cv_btn, .copy{
		margin-bottom: 1.2rem;
	}
}

/* Barra de scroll */

/*-- anchura --*/
*::-webkit-scrollbar{
	width: 12px;
}

/*-- tracker --*/
*::-webkit-scrollbar-track{
	background: #0B0C10;
}

/*-- barra --*/ 
*::-webkit-scrollbar-thumb{
	background-color: #66FCF1;
	border-radius: 5px;
	border: 3px solid #0B0C10;
